<h1 class="h1">edit this recipe</h1>

<form action="/Noms/{{id}}?_method=put" method="POST">
  <p>
    <label for="name">Name</label>
    <input class="boxes" type="text" value="{{name}}" name="name">
  </p>
  <p>
    <label for="description">Description</label>
    <input class="boxes" type="text" value="{{description}}" name="description">
  </p>
  <p>
    <label for="instructions">Instructions</label>
    <input class="boxes" type="text" value="{{instructions}}" name="instructions">
  </p>
  <p>
    <label for="name">Ingredients</label>
    <input class="boxes" type="text" value="{{ingredients}}" name="ingredients">
  </p>
  <input class="delete" type="submit" value="Update">
</form>