<h1>{{this.name}}</h1>
<h3>{{this.description}}</h3>
<p>Instructions: {{this.instructions}}</P>
<p>Ingredients: {{this.ingredients}}</P>

<a href="/Noms/edit/{{this.id}}">Edit Recipe</a>  

<form action="/Noms/{{id}}?_method=delete" method="POST">
  <input type="submit" value="delete">
</form>