<h1 class="h1">{{this.name}}</h1>
<h3>{{this.description}}</h3>
<p class="instr">-Ingredients- <br/> {{this.ingredients}}</P>
<p class="instr">-Instructions- <br/> {{this.instructions}}</P>


<a class="editRecipe" href="/Noms/edit/{{this.id}}">edit recipe</a>
<form action="/Noms/{{id}}?_method=delete" method="POST">
  <input class="delete" type="submit" value="delete">
</form>